.box {
    width: 70px;
    height: 70px;
}

.grey {
    background-color: #e1e6e8;
}

.white {
    background-color: white;
}

.piece {
    width: 45px;
    height: 45px;
    background-color: #1987c4;
    border-radius: 50%;
    position: relative;
    top: 15%;
    left: 15%;
}

.select {
    background-color: #6227ae;
}